<!-- TODO: put sidenav into partial directive -->
<md-sidenav 
  flex='25'
  layout='column' 
  md-is-locked-open="$mdMedia('gt-sm')" 
  md-whiteframe='4'
  class='md-sidenav-left'>
  <md-toolbar layout-padding flex md-ink-ripple="#A7FFEB" class='md-primary md-hue-2'>
    <div layout='column' layout-align='center center'>
      <h3>Thanks For Stopping By!</h3>
      <img src="/assets/thumbnail.png" height="215" width="215" alt="pic">    
      <p>Hi there! My name is Kenneth Korcal. I am a Front-End Web Developer based in San Francisco, California. You can check out my projects here. Have a nice day!</p>    
    </div>
    <md-list layout='column'>
      <md-list-item>
        <md-button href='https://github.com/kakorcal' target='_blank' class='md-raised'><i class='fa fa-github'></i> Github</md-button>
      </md-list-item>
      <md-list-item>
        <md-button href='https://www.linkedin.com/in/kennethkorcal' target='_blank' class='md-raised'><i class='fa fa-linkedin'></i> LinkedIn</md-button>      
      </md-list-item>
      <md-list-item>
        <md-button href='/assets/Kenneth_Korcal_Resume.pdf' target='_blank' class='md-raised'><i class='fa fa-file-text-o'></i> Resume</md-button>      
      </md-list-item>
    </md-list>
  </md-toolbar>
</md-sidenav>
<div layout='row' layout-wrap flex class='portfolio-content'>
 <md-toolbar flex='33' layout-padding
    ng-repeat='portfolio in vm.portfolios' 
    ng-class='vm.getClass($index)'>
    <div class='portfolio-text'>
      <h4>{{portfolio.title}}</h4>
      <span>{{portfolio.date}}</span>
      <p>{{portfolio.desc}}</p>
    </div>
    <div layout='column' layout-align='start' class='layout-align-start-stretch layout-column'>
      <md-button class='md-raised' ng-click='vm.openLightboxModal($index)'>View Photos</md-button>
      <md-button class='md-raised' ng-href='{{portfolio.link ? portfolio.link : portfolio.github}}' target='_blank'>{{portfolio.link ? 'Live Site' : 'Github'}}</md-button>
    </div>
  </md-toolbar>
</div>